<!-- Banner 头 -->
<%- partial('_partial/bg-cover') %>
    <!-- 内容框突出至banner的部分 -->
    <div class="content">
        <div class="container chip-container">
            <!-- 内容框 -->
            <div class="card">
                <!-- 内容框内边距 -->
                <div class="card-content">
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>